albumentations==0.5.2
cffi==1.14.5
Cython==0.29.23
easydict==1.9
future==0.18.2
graphviz==0.17
imgaug>=0.4
matplotlib==3.3.4
mmcv-full==1.3.13
ninja==1.10.2
numpy>=1.21.2
opencv-python-headless==4.5.3.56
pyyaml
Pillow==8.2.0
scikit-image==0.18.1
scipy==1.6.2
tensorboard
torch==1.10.0
torchvision>=0.10.0
tqdm==4.59.0
timm==0.4.12
